.hide {
    display: none;
}

.right {
    text-align: right;
}
.anticon {
    vertical-align: 1px;
}
.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}
.red-dot::after {
    content: ' *';
    color: red;
}

.row25 {
    min-width: 25px;
    width: 25px;
}

.row50 {
    min-width: 50px;
    width: 50px;
}

.row80 {
    min-width: 80px;
    width: 80px;
}

.row110 {
    min-width: 110px;
    width: 110px;
}

.row150 {
    min-width: 150px;
    width: 150px;
}
.editable {
    cursor: pointer;
    color: #346b89;
    border-bottom: 1px dashed #346b89;
}
.Popover-above {
    z-index: 9999;
}

.Popover-body {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    background: hsl(0, 0%, 27%);
    min-width: 250px;
}

.Popover-tipShape {
    fill: hsl(0, 0%, 27%);
}

.mono {
    font-family: 'Lucida Console', monospace;
    font-weight: bold;
}

.vnd {
    text-align: right;
}
.vnd::after {
    content: ' ₫';
    color: blue;
}

.cny {
    text-align: right;
}
.cny::after {
    content: ' ¥';
    color: green;
}

.bol-date .ant-collapse-content-box {
    padding: 0;
}
